@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "ABCMonumentGrotesk-Regular";
  src: url("/fonts/ABCMonumentGrotesk-Regular-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "ABCMonumentGrotesk-Bold";
  src: url("/fonts/ABCMonumentGrotesk-Bold-Trial.woff") format("woff");
}

@font-face {
  font-family: "ABCMonumentGrotesk-Medium";
  src: url("/fonts/ABCMonumentGrotesk-Medium-Trial.woff") format("woff");
}

@font-face {
  font-family: "PPRightGrotesk-CompactBlack";
  src: url("/fonts/PPRightGrotesk-CompactBlack.woff") format("woff");
}

@theme {
  /* Fonte */
  --font-regular: "ABCMonumentGrotesk-Regular";
  --font-bold: "ABCMonumentGrotesk-Bold";
  --font-medium: "ABCMonumentGrotesk-Medium";
  --font-black: "PPRightGrotesk-CompactBlack";

  /* Størrelser */
  --text-60: 60px;
  --text-40: 40px;
  --text-36: 36px;
  --text-30: 30px;
  --text-24: 24px;
  --text-20: 20px;
  --text-16: 16px;

  /* Farver */
  --color-primary-bordeaux: #321f26;
  --color-secondary-pink: #ffdbdb;
  --color-secondary-lightgreen: #f7f9f1;
  --color-secondary-lightblue: #dbf8ff;
  --color-secondary-greywhite: #fcfcfc;
  --color-tertiary-darkpink: #ff9b9b;
  --color-accent-red: #ff0909;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-gutter: 20px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 80px;
  --spacing-4xl: 96px;
  --spacing-5xl: 128px;
  --spacing-6xl: 160px;
}

@layer base {
  /* Baggrund */
  .bg-nav {
    background: var(--color-primary-bordeaux);
  }

  .bg-bordeaux {
    background: var(--color-primary-bordeaux);
  }

  .bg-pink {
    background: var(--color-secondary-pink);
  }

  .bg-green {
    background: var(--color-secondary-lightgreen);
  }

  .bg-blue {
    background: var(--color-secondary-lightblue);
  }

  .bg-greywhite {
    background: var(--color-secondary-greywhite);
  }

  /* Navigation */
  .nav-default {
    color: var(--color-secondary-pink);
  }

  .nav-hover {
    color: var(--color-tertiary-darkpink);
  }

  /* Buttons */
  .btn-header {
    background: var(--color-accent-red);
  }

  .btn-light {
    background: var(--color-tertiary-darkpink);
  }

  .btn-dark {
    background: var(--color-primary-bordeaux);
  }

  /* Text */
  .text-dark {
    color: var(--color-primary-bordeaux);
  }

  .text-light {
    color: var(--color-secondary-greywhite);
  }

  .text-hero {
    color: var(--color-tertiary-darkpink);
  }

  .text-hf {
    color: var(--color-secondary-pink);
  }
}

@layer components {
}
@layer utilities {
}
