@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Størrelser */
  --text-60: 60px;
  --text-40: 40px;
  --text-36: 36px;
  --text-30: 30px;
  --text-24: 24px;
  --text-20: 20px;
  --text-16: 16px;

  /* Farver */
  --color-primary-bordeaux: #321f26;
  --color-secondary-pink: #ffdbdb;
  --color-secondary-lightgreen: #dbf8ff;
  --color-secondary-lightblue: #dbf8ff;
  --color-secondary-greywhite: #fcfcfc;
  --color-tertiary-darkpink: #ff9b9b;
  --color-accent-red: #ff0909;
}

@layer base {
  /* Baggrund */
  .bg-nav {
    background: var(--color-primary-bordeaux);
  }

  .bg-bordeaux {
    background: var(--color-primary-bordeaux);
  }

  .bg-pink {
    background: var(--color-secondary-pink);
  }

  .bg-green {
    background: var(--color-secondary-lightgreen);
  }

  .bg-blue {
    background: var(--color-secondary-lightblue);
  }

  .bg-greywhite {
    background: var(--color-secondary-greywhite);
  }

  /* Navigation */
  .nav-default {
    color: var(--color-secondary-pink);
  }

  .nav-hover {
    color: var(--color-tertiary-darkpink);
  }

  /* Buttons */
  .btn-header {
    background: var(--color-accent-red);
  }

  .btn-light {
    background: var(--color-tertiary-darkpink);
  }

  .btn-dark {
    background: var(--color-primary-bordeaux);
  }

  /* Text */
  .text-dark {
    color: var(--color-primary-bordeaux);
  }

  .text-light {
    color: var(--color-secondary-greywhite);
  }

  .text-hero {
    color: var(--color-tertiary-darkpink);
  }

  .text-hf {
    color: var(--color-secondary-pink);
  }

  /* Fonte */
  h1 {
    font-size: var(--text-36);
    font-weight: var(--font-weight-black);
    color: var(--color-primary-bordeaux);
    @apply uppercase;
  }

  h2 {
    font-size: var(--text-30);
    font-weight: var(--font-weight-black);
    color: var(--color-primary-bordeaux);
    @apply uppercase;
  }

  h3 {
    font-size: var(--text-24);
    font-weight: var(--font-weight-black);
    color: var(--color-primary-bordeaux);
    @apply uppercase;
  }

  h4 {
    font-size: var(--text-20);
    font-weight: var(--font-weight-black);
    color: var(--color-primary-bordeaux);
    @apply uppercase;
  }

  h5 {
    font-size: var(--text-20);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary-bordeaux);
  }

  h6 {
    font-size: var(--text-16);
    font-weight: var(--font-weight-black);
    color: var(--color-primary-bordeaux);
  }

  p {
    font-size: var(--text-16);
    font-weight: var(--font-weight-regular);
    color: var(--color-primary-bordeaux);
  }

  .p-medium {
    font-size: var(--text-16);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary-bordeaux);
  }

  .button {
    font-size: var(--text-16);
    font-weight: var(--font-weight-bold);
    @apply uppercase;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: var(--text-60);
    }

    h2 {
      font-size: var(--text-36);
    }

    h3 {
      font-size: var(--text-30);
    }

    h4 {
      font-size: var(--text-24);
    }

    h5 {
      font-size: var(--text-24);
    }

    h6 {
      font-size: var(--text-20);
    }

    p {
      font-size: var(--text-16);
    }

    .p-medium {
      font-size: var(--text-16);
    }
  }
}

@layer components {
}
@layer utilities {
}
