---
import MainLayout from "../layouts/MainLayout.astro";
import HeadingParagraf from "../components/HeadingParagraf.astro";
import List from "../components/List.astro";
import Spacing from "../components/Spacing.astro";
---

<MainLayout title="Artikler">
  <Spacing />
  <div class="bg-greywhite px-gutter py-3xl md:px-2xl md:pt-4xl md:pb-4xl">
    <div class="pb-3xl">
      <HeadingParagraf
        title="Artikler"
        text="Vi lægger vægt på, at sexarbejdere skal have de samme rettiheder og beskyttelse som andre arbejdstagere, og vi engagerer os i at skabe opmærksomhed omkring deres vilkår."
      />
    </div>
    <List
      image="/artikel1.webp"
      descr="Billede af klistermærker"
      title="D. 20/11/25"
      text="Vores take på den danske lovgivning om sexarbejde"
    />
    <List
      image="/artikel2.webp"
      descr="Billede af to personer på gaden"
      title="D. 08/10/25"
      text="Hvordan påvirker sæsonskiftet gadebaseret sexarbejdere?"
    />
    <List
      image="/artikel3.webp"
      descr="Personer fra et foredragspanel"
      title="D. 26/09/25"
      text="Skadesreduktion: Hvad betyder det, og hvordan arbejder The Red Van med det?"
    />
  </div>
</MainLayout>
