---
import MainLayout from "../layouts/MainLayout.astro";
import HeadingParagraf from "../components/HeadingParagraf.astro";
import TextParagraf from "../components/TextParagraf.astro";
---

<MainLayout title="Bliv frivillig">
  <section class="bg-green">
    <TextParagraf title="Bliv frivillig" textCols={1}>
      <p class="p-medium">
        The Red Van er et fællesskab drevet af hovedsageligt frivillige. Uden
        frivillige, ingen Red Van. Derfor er vi altid nysgerrige på at høre fra
        dig, hvis du er nysgerrig på os.
      </p>
    </TextParagraf>

    <img src="frivillige.webp" alt="Billede af the red vans frivillige" />

    <TextParagraf title="Hvad indebærer det" textCols={1}
      >Nattevagterne er hjertet i The Red Vans arbejde, og det er frivillige,
      der gør det muligt for os at holde vanen åben. Som frivillig på nattevagt
      får du mulighed for at gøre en konkret forskel for gadebaserede
      sexarbejdere i København. Vores røde van er åben hver torsdag, fredag og
      lørdag nat, hvor vi tilbyder kaffe og kondomer og er med til at skabe
      tryghed og sikkerhed for sexarbejderne. Udover at mødes på nattevagterne
      samles vi til månedlige frivilligmøder, opkvalificeringsdage og sociale
      begivenheder.
      <br /><br />
      Som frivillig på nattevagt holder du opsyn med vores van, snakker og hygger
      med kvinderne og hjælper med at sikre, at aftenen forløber gnidningsfrit. Du
      skal være klar på at deeskalere konflikter og håndtere kriser. Du er ansvarlig
      for at åbne, klargøre og lukke vanen, samt tilbyde kondomer, te og nogle gange
      mad. Efter vagten sørger I for, at vanen er klar til næste vagt.</TextParagraf
    >

    <h1>citat her</h1>

    <TextParagraf title="Det skal du vide" textCols={1}
      >Frivillige forpligter sig til mindst én nattevagt om måneden. Arbejdet
      kan være koldt og ubehageligt, men også hyggeligt og berigende. Du skal
      være indstillet på, at tingene kan spidse til, og kunne håndtere pressede
      situationer. Mange af vores frivillige er trænede i førstehjælp og
      konflikthåndtering, da disse kompetencer ofte er nødvendige under
      nattevagterne. Vores van er altid bemandet af mindst tre frivillige, og
      nattevagterne ligger fra kl. 00:00 til 05:00 torsdag, fredag og lørdag.
      Har du erfaring med skadesreduktion, en relevant uddannelse eller
      kørekort, hører vi særligt gerne fra dig!
      <br /><br />
      Er du interesseret i at blive frivillig, så udfyld vores formular. Du vil herefter
      blive kontaktet af vores frivilligkoordinator. Vores interne sprog er engelsk,
      men du er velkommen til at skrive din ansøgning på dansk også.
    </TextParagraf>
  </section>
  <section class="bg-pink"><h1>form her</h1></section>
</MainLayout>
