---
import MainLayout from "../layouts/MainLayout.astro";
import HeadingParagraf from "../components/HeadingParagraf.astro";
import TextParagraf from "../components/TextParagraf.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Button from "../components/Button.astro";
import Spacing from "../components/Spacing.astro";
---

<MainLayout title="Bliv frivillig">
  <Spacing />
  <section class="bg-green px-gutter py-3xl md:px-2xl md:pt-4xl md:pb-4xl">
    <HeadingParagraf
      title="Bliv frivillig"
      text="The Red Van er et fællesskab drevet af hovedsageligt frivillige. Uden frivillige, ingen Red Van. Derfor er vi altid nysgerrige på at høre fra dig, hvis du er nysgerrig på os."
    />

    <div class="grid md:grid-cols-3">
      <img
        src="/frivillige.webp"
        alt="Billede af the red vans frivillige"
        class="pb-3xl md:col-start-2 md:col-end-4"
      />
    </div>

    <TextParagraf title="Hvad indebærer det" textCols={1}
      >Nattevagterne er hjertet i The Red Vans arbejde, og det er frivillige,
      der gør det muligt for os at holde vanen åben. Som frivillig på nattevagt
      får du mulighed for at gøre en konkret forskel for gadebaserede
      sexarbejdere i København. Vores røde van er åben hver torsdag, fredag og
      lørdag nat, hvor vi tilbyder kaffe og kondomer og er med til at skabe
      tryghed og sikkerhed for sexarbejderne. Udover at mødes på nattevagterne
      samles vi til månedlige frivilligmøder, opkvalificeringsdage og sociale
      begivenheder.
      <br /><br />
      Som frivillig på nattevagt holder du opsyn med vores van, snakker og hygger
      med kvinderne og hjælper med at sikre, at aftenen forløber gnidningsfrit. Du
      skal være klar på at deeskalere konflikter og håndtere kriser. Du er ansvarlig
      for at åbne, klargøre og lukke vanen, samt tilbyde kondomer, te og nogle gange
      mad. Efter vagten sørger I for, at vanen er klar til næste vagt.</TextParagraf
    >

    <div class="grid md:grid-cols-3 py-3xl">
      <div class="md:col-start-2 md:col-end-4">
        <Heading htmlheading="h4" size="xsmall"
          >“At være frivillig for The Red Van er utroligt givende. Jeg føler, at
          jeg gør en stor forskel for vanens brugere. Nattevagterne skaber
          tryghed på gaden for sexarbejderne.”</Heading
        ><br />
        <Text>– Johannes Agersnap, frivillig siden oktober 2022</Text>
      </div>
    </div>

    <TextParagraf title="Det skal du vide" textCols={1}
      >Frivillige forpligter sig til mindst én nattevagt om måneden. Arbejdet
      kan være koldt og ubehageligt, men også hyggeligt og berigende. Du skal
      være indstillet på, at tingene kan spidse til, og kunne håndtere pressede
      situationer. Mange af vores frivillige er trænede i førstehjælp og
      konflikthåndtering, da disse kompetencer ofte er nødvendige under
      nattevagterne. Vores van er altid bemandet af mindst tre frivillige, og
      nattevagterne ligger fra kl. 00:00 til 05:00 torsdag, fredag og lørdag.
      Har du erfaring med skadesreduktion, en relevant uddannelse eller
      kørekort, hører vi særligt gerne fra dig!
      <br /><br />
      Er du interesseret i at blive frivillig, så udfyld vores formular. Du vil herefter
      blive kontaktet af vores frivilligkoordinator. Vores interne sprog er engelsk,
      men du er velkommen til at skrive din ansøgning på dansk også.
    </TextParagraf>
  </section>
  <section class="bg-pink px-gutter py-3xl md:px-2xl md:pt-4xl md:pb-5xl">
    <Heading htmlheading="h2" size="medium" stylingclasses="uppercase"
      >Send en ansøgning!</Heading
    >

    <div class="mx-auto">
      <form x-data="{ step: 1 }">
        <div x-show="step === 1">
          <!-- Fulde navn -->
          <div class="flex flex-col w-88.25 lg:w-96.75 pb-xl">
            <label for="selvvalgt"
              ><Text
                teksttype="basemedium"
                stylingclasses="text-dark text-base pb-xs">Fulde navn</Text
              ></label
            >
            <input
              type="text"
              id="navn"
              name="navn"
              class="rounded-xs border-0"
            />
          </div>

          <div class="flex flex-row gap-2xl">
            <!-- e-mail -->
            <div class="flex flex-col w-37.5 lg:w-46 pb-xl">
              <label for="email"
                ><Text
                  teksttype="basemedium"
                  stylingclasses="text-dark text-base pb-xs">E-mail</Text
                ></label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="rounded-xs border-0"
              />
            </div>

            <!-- mobilnummer -->
            <div class="flex flex-col w-40.75 lg:w-46">
              <label for="mobilnummer"
                ><Text
                  teksttype="basemedium"
                  stylingclasses="text-dark text-base pb-xs">Mobilnummer</Text
                ></label
              >
              <input
                type="tel"
                id="tel"
                name="tel"
                class="rounded-xs border-0"
              />
            </div>
          </div>

          <!-- checkbox -->
          <div class="flex flex-row gap-3xl">
            <div class="flex flex-col gap-md">
              <!-- pronominer -->
              <Text teksttype="basemedium" stylingclasses="">Pronominer</Text>

              <!-- Hun-hende -->
              <label class="flex items-center gap-5 cursor-pointer">
                <input
                  type="radio"
                  name="køn"
                  value="hun-hende"
                  class="w-7 h-7 rounded-full bg-greywhite
              checked:shadow-[inset_0_0_0_30px_#321F26]
              transition focus:outline-none focus:ring-0 border-0"
                />
                <span
                  ><Text teksttype="base" stylingclasses="text-dark"
                    >Hun/hende</Text
                  ></span
                >
              </label>

              <!-- Han-ham -->
              <label class="flex items-center gap-5 cursor-pointer">
                <input
                  type="radio"
                  name="køn"
                  value="han-ham"
                  class="w-7 h-7 rounded-full bg-greywhite
                checked:shadow-[inset_0_0_0_30px_#321F26]
                transition focus:outline-none focus:ring-0 border-0"
                />
                <span
                  ><Text teksttype="base" stylingclasses="text-dark"
                    >Han/ham</Text
                  ></span
                >
              </label>

              <!-- de-dem -->
              <label class="flex items-center gap-5 cursor-pointer">
                <input
                  type="radio"
                  name="køn"
                  value="de-dem"
                  class="w-7 h-7 rounded-full bg-greywhite
                  checked:shadow-[inset_0_0_0_30px_#321F26]
                  transition focus:outline-none focus:ring-0 border-0"
                />
                <span
                  ><Text teksttype="base" stylingclasses="text-dark"
                    >De/dem</Text
                  ></span
                >
              </label>
            </div>

            <!-- sprog -->
            <div class="flex flex-col gap-md">
              <Text teksttype="basemedium" stylingclasses="">Sprog</Text>

              <!-- dansk -->
              <label class="flex items-center gap-5 cursor-pointer">
                <input
                  type="radio"
                  name="sprog"
                  value="dansk"
                  class="w-7 h-7 rounded-full bg-greywhite
              checked:shadow-[inset_0_0_0_30px_#321F26]
              transition focus:outline-none focus:ring-0 border-0"
                />
                <span
                  ><Text teksttype="base" stylingclasses="text-dark">Dansk</Text
                  ></span
                >
              </label>

              <!-- engelsk -->
              <label class="flex items-center gap-5 cursor-pointer">
                <input
                  type="radio"
                  name="sprog"
                  value="engelsk"
                  class="w-7 h-7 rounded-full bg-greywhite
                checked:shadow-[inset_0_0_0_30px_#321F26]
                transition focus:outline-none focus:ring-0 border-0"
                />
                <span
                  ><Text teksttype="base" stylingclasses="text-dark"
                    >Engelsk</Text
                  ></span
                >
              </label>

              <!-- andet -->
              <label class="flex items-center gap-5 cursor-pointer">
                <input
                  type="radio"
                  name="sprog"
                  value="andet"
                  class="w-7 h-7 rounded-full bg-greywhite
                  checked:shadow-[inset_0_0_0_30px_#321F26]
                  transition focus:outline-none focus:ring-0 border-0"
                />
                <span
                  ><Text teksttype="base" stylingclasses="text-dark">Andet</Text
                  ></span
                >
              </label>
            </div>
          </div>

          <!-- NÆSTE TRIN KNAP -->
          <div class="flex justify-end">
            <Button @click="step = step + 1" variant="light" type="button"
              >Videre</Button
            >
          </div>
        </div>
      </form>
    </div>
  </section>
</MainLayout>
