---
import MainLayout from "../layouts/MainLayout.astro";
import HeadingParagraf from "../components/HeadingParagraf.astro";
import TextParagraf from "../components/TextParagraf.astro";
---

<MainLayout title="Historien">
  <section class="bg-blue">
    <HeadingParagraf
      title="Historien"
      text="Siden 2016 har vi haft en klar mission: At forbedre forholdene for gadebaserede sexarbejdere i København. Vores tilgang til skades-reduktion bygger på det enkle princip, at sexarbejde er arbejde, og at sexarbejdere skal have rettigheder, værdighed og sikkerhed."
    />

    <img src="sexelancen.webp" alt="Billede af sexelancen" />

    <TextParagraf title="2016 Sexelancen opstår" textCols={2}>
      <p class="p-medium">
        The Red Van startede som projektet Sexelancen, lanceret i samarbejde med
        SIO (Sexarbejdernes Interesse Organisation). SIO havde i flere år
        arbejdet på Vesterbros gader for at forstå de problemstillinger og
        behov, som gadebaserede sexarbejdere på og omkring Istedgade oplevede.
        Inspireret af Fixelancen anskaffede man en sygetransport og grundlagde
        Sexelancen under foreningen Minoritet.
      </p>
    </TextParagraf>

    <h1>citat her</h1>

    <img src="foredrag.webp" alt="Billeder fra et foredrag" />

    <TextParagraf title="2018 – 2025 Foreningen the red van" textCols={2}>
      <p class="p-medium">
        The Red Van startede som projektet Sexelancen, lanceret i samarbejde med
        SIO (Sexarbejdernes Interesse Organisation). SIO havde i flere år
        arbejdet på Vesterbros gader for at forstå de problemstillinger og
        behov, som gadebaserede sexarbejdere på og omkring Istedgade oplevede.
        Inspireret af Fixelancen anskaffede man en sygetransport og grundlagde
        Sexelancen under foreningen Minoritet.
      </p>
      <p class="p-medium">
        I 2024 kunne The Red Van etablere sit første sekretariat, hvilket
        markerede endnu et skridt i vores udvikling som organisation. Med et
        dedikeret fællesskab og øgede ressourcer er vi nu bedre rustet end
        nogensinde før til at støtte gadebaserede sexarbejdere og styrke vores
        skadesreducerende indsats. Udover at lave skadesreducerende arbejde,
        uddanner The Red Van nu også unge frivillige i socialt arbejde,
        konflikthåndtering og skadesreduktion. Vi samarbejder med lokale aktører
        og forskere for at optimere vores indsats og sikre en positiv
        indvirkning.
      </p>
    </TextParagraf>
  </section>
</MainLayout>
