---
import MainLayout from "../layouts/MainLayout.astro";
import HeadingParagraf from "../components/HeadingParagraf.astro";
import TextParagraf from "../components/TextParagraf.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="Historien">
  <section class="bg-blue px-gutter py-3xl md:px-2xl md:pt-4xl md:pb-5xl">
    <HeadingParagraf
      title="Historien"
      text="Siden 2016 har vi haft en klar mission: At forbedre forholdene for gadebaserede sexarbejdere i København. Vores tilgang til skades-reduktion bygger på det enkle princip, at sexarbejde er arbejde, og at sexarbejdere skal have rettigheder, værdighed og sikkerhed."
    />

    <div class="grid md:grid-cols-3">
      <img
        src="sexelancen.webp"
        alt="Billede af sexelancen"
        class="pb-3xl md:col-start-2 md:col-end-4"
      />
    </div>

    <TextParagraf title="2016 Sexelancen opstår" textCols={2}>
      <Text teksttype="brødtekst" stylingclasses="text-dark">
        The Red Van startede som projektet Sexelancen, lanceret i samarbejde med
        SIO (Sexarbejdernes Interesse Organisation). SIO havde i flere år
        arbejdet på Vesterbros gader for at forstå de problemstillinger og
        behov, som gadebaserede sexarbejdere på og omkring Istedgade oplevede.
        Inspireret af Fixelancen anskaffede man en sygetransport og grundlagde
        Sexelancen under foreningen Minoritet.
      </Text>
    </TextParagraf>

    <div class="grid md:grid-cols-3">
      <div class="md:col-start-2 md:col-end-4">
        <Heading
          htmlheading="h4"
          size="xsmall"
          stylingclasses="text-dark pt-3xl"
          >“I begyndelsen var vi usikre på, om nogen ville bruge vognen. Men
          fordi vi selv var sexarbejdere og til stede på gaden, opbyggede vi
          hurtigt tillid. Tilbuddet er stadig uformelt og anonymt – vi kræver
          ikke noget til gengæld. Det gør, at vognen er blevet et populært
          tilbud på gaden.”</Heading
        ><br />
        <Text>
          — Jelena Seidel, politisk konsulent i The Red Van & medstifter af
          Sexelancen</Text
        >
      </div>
    </div>

    <div class="grid md:grid-cols-3">
      <img
        src="foredrag.webp"
        alt="Billeder fra et foredrag"
        class="py-3xl md:col-start-2 md:col-end-4"
      />
    </div>

    <TextParagraf title="2018 – 2025 Foreningen the red van" textCols={2}>
      <Text teksttype="brødtekst" stylingclasses="text-dark">
        I 2018 blev Sexelancen pensioneret og erstattet af en rød varevogn.
        Samtidig blev den selvstændige forening The Red Van stiftet. <br /><br
        />I 2023 opnåede The Red Van en vigtig milepæl, da vi modtog vores
        første bevilling fra Københavns Kommune og Finansloven. Denne
        finansiering har gjort det muligt for os at udvide vores aktiviteter og
        forbedre vores tilbud til sexarbejderne.
      </Text>
      <Text teksttype="brødtekst" stylingclasses="text-dark">
        I 2024 kunne The Red Van etablere sit første sekretariat, hvilket
        markerede endnu et skridt i vores udvikling som organisation. Med et
        dedikeret fællesskab og øgede ressourcer er vi nu bedre rustet end
        nogensinde før til at støtte gadebaserede sexarbejdere og styrke vores
        skadesreducerende indsats. Udover at lave skadesreducerende arbejde,
        uddanner The Red Van nu også unge frivillige i socialt arbejde,
        konflikthåndtering og skadesreduktion. Vi samarbejder med lokale aktører
        og forskere for at optimere vores indsats og sikre en positiv
        indvirkning.
      </Text>
    </TextParagraf>
  </section>
</MainLayout>
