---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Card from "../components/Card.astro";
import List from "../components/List.astro";
---

<MainLayout title="Forside">
  <section class="bg-bordeaux">
    <img
      src="logo-text.png"
      alt="The Red Van"
      class="place-self-center w-110 md:hidden"
    />
    <img
      src="forside-hero.webp"
      alt="Billede af kvinde i The Red Van"
      class="w-120 place-self-center"
    />
    <Heading htmlheading="h5" size="xsmall" stylingclasses="text-hero">
      Vi støtter sexarbejdere i deres ret til et trygt og værdigt arbejdsliv.
    </Heading>
  </section>
  <section class="bg-pink grid md:grid-cols-2">
    <div>
      <Heading
        htmlheading="h1"
        size="xlarge"
        stylingclasses="uppercase text-dark"
      >
        Støt vores mission
      </Heading>
      <Heading htmlheading="h5" size="xsmall" stylingclasses="text-dark">
        The Red Vans mission er at sikre bedre vilkår for gadebaserede
        sexarbejdere. Med vores ombyggede varevogn tilbyder vi et tryggere, mere
        hygiejnisk og værdigt arbejdsmiljø end gaden. Vi arbejder
        skadesreducerende og kæmper aktivt for sexarbejderes rettigheder.
      </Heading>
      <Button variant="light">Vores arbejde</Button>
    </div>
    <div>
      <h1>form her</h1>
    </div>
    <div>
      <div>
        <Heading
          htmlheading="h2"
          size="large"
          stylingclasses="uppercase text-dark"
        >
          Det går din donation til</Heading
        >
      </div>
    </div>
    <!-- karrusel her -->
  </section>

  <section class="bg-bordeaux grid md:grid-cols-2">
    <div>
      <img
        src="forside-body-1.webp"
        alt="Billede af frivllige ved The Red Van"
      />
    </div>
    <div>
      <Heading
        htmlheading="h3"
        size="medium"
        stylingclasses="uppercase text-light"
        >Vil du være med til at gøre en forskel?</Heading
      >
      <Text teksttype="brødtekst" stylingclasses="text-light">
        Nattevagterne er hjertet i The Red Vans arbejde, og det er frivillige,
        der gør det muligt for os at holde vanen åben. Som frivillig på
        nattevagt får du mulighed for at gøre en konkret forskel for
        gadebaserede sexarbejdere i København. Vores røde van er åben torsdag,
        fredag og lørdag nat, hvor vi tilbyder kaffe og kondomer og er med til
        at skabe en tryggere interaktion mellem sexarbejdere og købere.
      </Text>
      <Button variant="light">Bliv frivillig</Button>
    </div>
  </section>
  <section class="bg-blue">
    <Heading htmlheading="h2" size="xlarge" stylingclasses="uppercase text-dark"
      >Vores tre kerneværdier:</Heading
    >
    <div class="grid md:grid-cols-3 md:grid-rows-3">
      <Card
        header="01"
        title="Sex work is work"
        text="Vi ser sexarbejde som et legitimt erhverv og støtter sexarbejderbevægelsens kamp for selvbestemmelse og afstigmatisering. Sexarbejderrettigheder er menneskerettigheder!"
      />

      <Card
        header="02"
        title="Harm reduction"
        text="Vi tilbyder gadebaserede sexarbejdere en mere sikker og værdig arbejdsplads, fordi alle har ret til støtte og solidaritet uanset deres profession og livssituation."
      />

      <Card
        header="03"
        title="Rights not rescue"
        text="Vi mener, at sexarbejdere skal beskyttes med rettigheder frem for at blive reddet, fordi vi ved, at mange står uden alternative måder at forsørge sig selv og deres familier."
      />
      <div
        class="md:col-start-2 md:col-end-4 md:row-start-2 md:row-end-4 md:place-items-stretch"
      >
        <img src="foredrag.webp" alt="Billede af foredragsholdere" />
      </div>
      <div class="md:col-start-1 md:col-end-2 md:row-start-3 md:row-end-4">
        <Text teksttype="brødtekstmedium" stylingclasses="text-dark">
          Vi elsker at fortælle om vores organisation og det vi står for. Derfor
          holder vi workshops og talks, hvor vi enten kommer ud, eller viser
          rundt i vores vans.
        </Text>
        <Button variant="dark">Book the red van</Button>
      </div>
    </div>
    <section class="bg-pink">
      <Heading
        htmlheading="h2"
        size="xlarge"
        stylingclasses="uppercase text-dark">Artikler</Heading
      >
      <div class="grid md:grid-cols-2">
        <Heading htmlheading="h3" size="xsmall" stylingclasses="text-dark">
          Vi lægger vægt på, at sexarbejdere skal have de samme rettigheder og
          beskyttelse som andre arbejdstagere, og vi engagerer os i at skabe
          opmærksomhed omkring deres vilkår.
          <br /><br />
          Vi deler vores indsigter og perspektiver i vores blog: læs med her
        </Heading>
        <img src="forside4.png" alt="Billede af rød kuglepen" />
      </div>
      <div class="border-y-accent-red border">
        <List
          title="D. 20/11/25"
          text="Den danske lovgivning om sexarbejde og The Red Vans bud på forbedringer"
        />
      </div>
      <div class="border-b-accent-red border-b">
        <List
          title="D. 19/10/25"
          text="Hvordan påvirker sæsonskiftet gadebaseret sexarbejdere?"
        />
      </div>
      <div class="place-self-end">
        <Button variant="light">Se alle artikler</Button>
      </div>
    </section>
  </section>
</MainLayout>
