---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Card from "../components/Card.astro";
import List from "../components/List.astro";
import Stoetform from "../components/Stoetform.astro";
import Spacing from "../components/Spacing.astro";
---

<MainLayout title="Forside">
  <Spacing />
  <section class="bg-bordeaux px-gutter py-2xl md:px-2xl md:pt-xl">
    <img src="/logo-text.png" alt="The Red Van" class="md:hidden" />
    <img
      src="/forside-hero.webp"
      alt="Billede af kvinde i The Red Van"
      class="py-2xl place-self-center w-full md:pt-0 md:py-lg"
    />
    <Heading
      htmlheading="h2"
      size="medium"
      stylingclasses="text-hero font-regular"
      animate={false}
    >
      Vi støtter sexarbejdere i deres ret til et trygt og værdigt arbejdsliv.
    </Heading>
  </section>
  <section class="bg-pink px-gutter grid md:grid-cols-2 md:px-2xl md:py-3xl">
    <div>
      <Heading
        htmlheading="h1"
        size="xlarge"
        stylingclasses="uppercase pb-md pt-3xl"
      >
        Støt vores mission
      </Heading>
      <Heading
        htmlheading="h2"
        size="xsmall"
        stylingclasses="pb-xl"
        animate={false}
      >
        The Red Vans mission er at sikre bedre vilkår for gadebaserede
        sexarbejdere. Med vores ombyggede varevogn tilbyder vi et tryggere, mere
        hygiejnisk og værdigt arbejdsmiljø end gaden. Vi arbejder
        skadesreducerende og kæmper aktivt for sexarbejderes rettigheder.
      </Heading>

      <Button href="/vores-arbejde" variant="light">Vores arbejde</Button>
    </div>
    <div class="mx-auto pb-2xl pt-3xl">
      <Stoetform />
    </div>
  </section>

  <div class="border-b-accent-red border-b md:px-2xl"></div>

  <section class="bg-pink px-gutter py-2xl md:pt-3xl md:pb-5xl md:px-2xl">
    <div x-data="{ index: 0 }" class="w-full">
      <Heading htmlheading="h2" size="large" stylingclasses="uppercase pb-xl">
        Det går din donation til
      </Heading>

      <div class="grid md:grid-cols-4 gap-4xl">
        <!-- ITEM 0 -->
        <div :class="index === 0 ? 'block' : 'hidden md:block'">
          <img src="/mad.svg" class="mb-md" />
          <Heading htmlheading="h3" size="small" stylingclasses="uppercase">
            Varme måltider
          </Heading>
          <Text>
            Vi sørger for, at der altid er varme drikkevarer og måltider til
            rådighed, for dem der skulle have brug for det, i løbet af en aften.
          </Text>
        </div>

        <!-- ITEM 1 -->
        <div :class="index === 1 ? 'block' : 'hidden md:block'">
          <img src="/sokker.svg" class="mb-md" />
          <Heading htmlheading="h3" size="small" stylingclasses="uppercase">
            Fodvarme
          </Heading>
          <Text>
            Vi tilbyder gratis fodvarmere til sexarbejdere der er tilstede i
            gadebilledet, hvis vejret er koldt.
          </Text>
        </div>

        <!-- ITEM 2 -->
        <div :class="index === 2 ? 'block' : 'hidden md:block'">
          <img src="/kondom2.svg" class="mb-md" />
          <Heading htmlheading="h3" size="small" stylingclasses="uppercase">
            Beskyttelse
          </Heading>
          <Text>
            The Red Van har altid beskyttelse til rådighed, gratis og
            tilgængeligt.
          </Text>
        </div>

        <!-- ITEM 3 -->
        <div :class="index === 3 ? 'block' : 'hidden md:block'">
          <img src="/soap.svg" class="mb-md" />
          <Heading htmlheading="h3" size="small" stylingclasses="uppercase">
            Hygiejneprodukter
          </Heading>
          <Text>
            Vi tilbyder diverse hygiejneprodukter til brugere af vanen og sørger
            altid for at holde faciliteterne rene og pæne.
          </Text>
        </div>
      </div>

      <!-- PILE – KUN MOBIL -->
      <div class="mt-6 flex justify-center gap-8 md:hidden">
        <button @click="index = (index + 3) % 4">
          <img src="/pil-tilbage.svg" alt="Tilbage" />
        </button>
        <button @click="index = (index + 1) % 4">
          <img src="/pil-frem.svg" alt="Frem" />
        </button>
      </div>
    </div>
  </section>

  <section
    class="bg-bordeaux px-gutter py-2xl md:px-2xl md:py-5xl grid md:grid-cols-3"
  >
    <div class="md:col-span-2 md:pr-gutter">
      <img
        src="/forside-body1.webp"
        alt="Billede af frivllige ved The Red Van"
      />
    </div>
    <div>
      <Heading
        htmlheading="h2"
        size="medium"
        stylingclasses="uppercase text-light pt-xl pb-md md:pt-0"
        >Vil du være med til at gøre en forskel?</Heading
      >
      <Text stylingclasses="text-light pb-xl">
        Nattevagterne er hjertet i The Red Vans arbejde, og det er frivillige,
        der gør det muligt for os at holde vanen åben. Som frivillig på
        nattevagt får du mulighed for at gøre en konkret forskel for
        gadebaserede sexarbejdere i København. Vores røde van er åben torsdag,
        fredag og lørdag nat, hvor vi tilbyder kaffe og kondomer og er med til
        at skabe en tryggere interaktion mellem sexarbejdere og købere.
      </Text>
      <Button href="bliv-frivillig" variant="light">Bliv frivillig</Button>
    </div>
  </section>
  <section class="bg-blue px-gutter py-2xl md:pt-3xl md:pb-4xl md:px-2xl">
    <Heading
      htmlheading="h2"
      size="xlarge"
      stylingclasses="uppercase pb-xl md:pb-2xl"
      >Vores tre kerneværdier:</Heading
    >
    <div class="grid md:grid-cols-3 md:gap-gutter">
      <Card
        header="01"
        title="Sex work is work"
        text="Vi ser sexarbejde som et legitimt erhverv og støtter sexarbejderbevægelsens kamp for selvbestemmelse og afstigmatisering. Sexarbejderrettigheder er menneskerettigheder!"
      />

      <Card
        header="02"
        title="Harm reduction"
        text="Vi tilbyder gadebaserede sexarbejdere en mere sikker og værdig arbejdsplads, fordi alle har ret til støtte og solidaritet uanset deres profession og livssituation."
      />

      <Card
        header="03"
        title="Rights not rescue"
        text="Vi mener, at sexarbejdere skal beskyttes med rettigheder frem for at blive reddet, fordi vi ved, at mange står uden alternative måder at forsørge sig selv og deres familier."
      />
    </div>

    <div class="grid md:grid-cols-3 gap-gutter">
      <img
        src="/foredrag.webp"
        alt="Billede af foredragsholdere"
        class="pt-3xl pb-xl md:pt-4xl md:pb-0 md:col-start-2 md:col-end-4"
      />

      <div class="md:col-sart-1 md:col-end-2 md:self-end md:row-start-1">
        <Text teksttype="basemedium" stylingclasses=" pb-xl">
          Vi elsker at fortælle om vores organisation og det vi står for. Derfor
          holder vi workshops og talks, hvor vi enten kommer ud, eller viser
          rundt i vores vans.
        </Text>
        <Button variant="dark">Book the red van</Button>
      </div>
    </div>
  </section>

  <section class="bg-pink px-gutter py-3xl md:px-2xl">
    <Heading htmlheading="h2" size="xlarge" stylingclasses="uppercase  pb-md"
      >Artikler</Heading
    >
    <div class="grid md:grid-cols-2 md:pb-xl">
      <Heading
        htmlheading="h3"
        size="xsmall"
        stylingclasses="md:pb-5xl"
        animate={false}
      >
        Vi lægger vægt på, at sexarbejdere skal have de samme rettigheder og
        beskyttelse som andre arbejdstagere, og vi engagerer os i at skabe
        opmærksomhed omkring deres vilkår.
        <br /><br />
        Vi deler vores indsigter og perspektiver i vores blog: læs med her
      </Heading>
      <img
        src="/forside4.png"
        alt="Billede af rød kuglepen"
        class="w-3/4 md:-mt-40 -rotate-8"
      />
    </div>
    <div class="border-y-accent-red border-y py-md md:py-0">
      <List
        title="D. 20/11/25"
        text="Vores take på den danske lovgivning om sexarbejde"
      />
    </div>
    <div class="border-b-accent-red border-b py-md mb-xl md:py-0">
      <List
        title="D. 19/10/25"
        text="Hvordan påvirker sæsonskiftet gadebaseret sexarbejdere?"
      />
    </div>
    <div class="place-self-end">
      <Button href="/artikler" variant="light">Se alle artikler</Button>
    </div>
  </section>
</MainLayout>
