---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Støt">
  <section class="bg-secondary-pink">
    <section class="grid md:grid-cols-3">
      <h1>Støt vores arbejde</h1>
      <h5 class="md:col-span-2">
        Når du støtter vores arbejde er du med til at sikre rettigheder,
        sikkerhed og værdighed for gadebaserede sexarbejdere!
      </h5>
    </section>
    <section class="grid md:grid-cols-2">
      <p>
        Din støtte gør en konkret forskel: Den hjælper os at stille vores røde
        varevogn til rådighed, som gadebaserede sexarbejdere kan bruge med sine
        kunder, under tryggere, mere hygiejniske og værdige forhold end gaden
        ellers tilbyder.
        <br /><br />
        Hver torsdag, fredag og lørdag nat er The Red Vans frivillige til stede ved
        vognen. Vi uddeler varme drikke, kondomer, mad og andre nødvendigheder - men
        vigtigst af alt, er vi der for at skabe bedre vilkår og tryggere arbejdsforhold
        for sexarbejderne på gaden.
        <br /><br />
        Når vi tilbyder et indendørs, sikkert og hygiejnisk arbejdsrum, reducerer
        vi de risici og den utryghed, der ofte følger med at arbejde om natten og
        på gaden. Støt The Red Van og gør en mærkbar forskel for gadebaserede sexarbejdere!
      </p>
      <h1>form her</h1>
    </section>
    <section><img src="bil.png" alt="Tegnet bil" /></section>
    <h2>Tre gode grunde til at donere</h2>
    <section class="grid md:grid-cols-3">
      <div>
        <h3>01 <br />Du gør en konkret forskel</h3><p>
          Med din donation hjælper du os at holde varevognen åben hele året,
          uanset vind og vejr. Din støtte går til at skabe mere sikre og værdige
          vilkår for gadebaserede sexarbejdere, og gør, at vi hele tiden kan
          købe nødvendige og relevante produkter som vores målgruppe
          efterspørger.
        </p>
      </div>
      <div>
        <h3>02 <br />Vi kan være fleksible</h3><p>
          Når du donerer, giver du os fleksibilitet til at bruge midlerne dér,
          hvor de gør mest gavn. Din donation kan gå direkte til
          skadesreducerende produkter, og giver os muligheden for hurtigere at
          kunne imødekomme nye behov fra kvinderne.
        </p>
      </div>
      <div>
        <h3>03 <br />Du får en gratis plakat</h3><p>
          Vælger du at støtte med minimum 100 kr./måned, får du som tak en
          eksklusiv plakat med, som symbol på din solidaritet og engagement. Den
          kan hænges stolt op for at vise at du støtter sexarbejderes
          rettigheder!
        </p>
      </div>
    </section>
  </section>
  <section class="bg-primary-bordeaux grid md:grid-cols-2">
    <div>
      <h2 class="text-secondary-greywhite">Din plakat</h2>
      <p class="text-secondary-greywhite">
        Som tak for din støtte får du en gratis plakat, hvis du donerer mindst
        100 kr. om måneden. Hver plakat er et unikt kunstværk med håndlavet
        charme, trykt i linotryk, og du kan stolt hænge den op for at vise din
        støtte for sexarbejderes rettigheder. <br />
        Når du har opsat din donation, modtager du en mail med information om, hvordan
        du får din plakat tilsendt.
      </p>
      <Button variant="pink">Se vores merch</Button>
    </div>

    <div><img src="plakat.png" alt="Billede af plakat" /></div>
  </section>
  <section class="bg-pink">
    <div class="grid md:grid-cols-3">
      <h2>Doner med stil</h2>
      <p class="p-medium md:col-span-2">
        Støt The Red Van ved at købe vores fede merch. <br />Vi har alt fra
        t-shirts til muleposer!
      </p>
    </div>
    <section class="grid md:grid-cols-3">
      <div>
        <img
          src="tote.png"
          alt="Billede af mulepose med grafisk illustration"
        />
      </div><div class="hidden md:block">
        <img
          src="tote.png"
          alt="Billede af mulepose med grafisk illustration"
        />
      </div><div class="hidden md:block">
        <img
          src="tote.png"
          alt="Billede af mulepose med grafisk illustration"
        />
      </div>
    </section>
    <Button variant="pink">Se vores merch</Button>
  </section>
</MainLayout>
