---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import HeadingParagraf from "../components/HeadingParagraf.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Card from "../components/Card.astro";
import TextParagraf from "../components/TextParagraf.astro";
import Stoetform from "../components/Stoetform.astro";
import Spacing from "../components/Spacing.astro";
---

<MainLayout title="Støt">
  <Spacing />
  <section class="bg-pink px-gutter py-3xl md:px-2xl md:py-4xl">
    <HeadingParagraf
      title="Støt vores arbejde"
      text="Når du støtter vores arbejde er du med til at sikre rettigheder, sikkerhed og værdighed for gadebaserede sexarbejdere!"
    />
    <section class="grid md:grid-cols-2 md:pt-5xl">
      <Text teksttype="base" stylingclasses=" pb-5xl md:pb-2xl">
        Din støtte gør en konkret forskel: Den hjælper os at stille vores røde
        varevogn til rådighed, som gadebaserede sexarbejdere kan bruge med sine
        kunder, under tryggere, mere hygiejniske og værdige forhold end gaden
        ellers tilbyder.
        <br /><br />
        Hver torsdag, fredag og lørdag nat er The Red Vans frivillige til stede ved
        vognen. Vi uddeler varme drikke, kondomer, mad og andre nødvendigheder - men
        vigtigst af alt, er vi der for at skabe bedre vilkår og tryggere arbejdsforhold
        for sexarbejderne på gaden.
        <br /><br />
        Når vi tilbyder et indendørs, sikkert og hygiejnisk arbejdsrum, reducerer
        vi de risici og den utryghed, der ofte følger med at arbejde om natten og
        på gaden. Støt The Red Van og gør en mærkbar forskel for gadebaserede sexarbejdere!
      </Text>
      <div class="flex place-self-center md:place-self-end">
        <Stoetform />
      </div>
      <img src="/bil.webp" alt="Rød bil" class="py-3xl md:pb-2xl md:pt-0" />
    </section>
    <Heading
      htmlheading="h2"
      size="xlarge"
      stylingclasses="uppercase pb-xl md:pb-2xl"
      >Tre gode grunde til at donere</Heading
    >
    <div class="grid md:grid-cols-3 md:gap-gutter">
      <Card
        header="01"
        title="Du gør en konkret forskel"
        text="Med din donation hjælper du os at holde varevognen åben hele året, uanset vind og vejr. Din støtte går til at skabe mere sikre og værdige vilkår for gadebaserede sexarbejdere, og gør, at vi hele tiden kan købe nødvendige og relevante produkter som vores målgruppe efterspørger."
      />
      <Card
        header="02"
        title="Vi kan være fleksible"
        text="Når du donerer, giver du os fleksibilitet til at bruge midlerne dér, hvor de gør mest gavn. Din donation kan gå direkte til skadesreducerende produkter, og giver os muligheden for hurtigere at kunne imødekomme nye behov fra kvinderne."
      />
      <Card
        header="03"
        title="Du får en gratis plakat"
        text="Vælger du at støtte med minimum 100 kr./måned, får du som tak en eksklusiv plakat med, som symbol på din solidaritet og engagement. Den kan hænges stolt op for at vise at du støtter sexarbejderes rettigheder!"
      />
    </div>
  </section>
  <section
    class="bg-bordeaux px-gutter py-3xl md:px-2xl md:py-4xl grid md:grid-cols-6"
  >
    <div class="md:col-start-1 md:col-end-4">
      <Heading
        htmlheading="h2"
        size="large"
        stylingclasses="text-light uppercase pb-md">Din plakat</Heading
      >
      <Heading htmlheading="h3" size="xsmall" stylingclasses="text-light pb-xl">
        Som tak for din støtte får du en gratis plakat, hvis du donerer mindst
        100 kr. om måneden. Hver plakat er et unikt kunstværk med håndlavet
        charme, trykt i linotryk, og du kan stolt hænge den op for at vise din
        støtte for sexarbejderes rettigheder. <br />
        Når du har opsat din donation, modtager du en mail med information om, hvordan
        du får din plakat tilsendt.
      </Heading>
      <Button href="#merch" variant="light">Se vores merch</Button>
    </div>

    <div class="md:col-start-5 md:col-end-7">
      <img src="/plakat.webp" alt="Billede af plakat" class="pt-3xl md:pt-0" />
    </div>
  </section>
  <section class="bg-pink px-gutter py-3xl md:px-2xl md:py-4xl" id="merch">
    <TextParagraf title="Doner med stil" textCols={1}
      >Støt The Red Van ved at købe vores fede merch. <br />Vi har alt fra
      t-shirts til muleposer!
    </TextParagraf>

    <section class="py-xl md:pt-4xl grid md:grid-cols-3 gap-gutter">
      <img src="/merch3.webp" alt="Billede af merch." />
      <img src="/merch2.webp" alt="Billede af merch." class="hidden md:block" />
      <img src="/merch1.webp" alt="Billede af merch." class="hidden md:block" />
    </section>
    <Button variant="light">Se vores merch</Button>
  </section>
</MainLayout>
