---
import MainLayout from "../layouts/MainLayout.astro";
import HeadingParagraf from "../components/HeadingParagraf.astro";
import TextParagraf from "../components/TextParagraf.astro";
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Vores arbejde">
  <section class="bg-greywhite px-gutter py-3xl md:px-2xl md:pt-4xl md:pb-6xl">
    <HeadingParagraf
      title="Vores arbejde"
      text="Hos The Red Van er vi stærke fortalere for sexarbejderes rettigheder. Vi arbejder aktivt for at ændre den offentlige mening og bekæmpe stigmaet omkring sexarbejde, imens vi hver uge selv er til stede på gaden."
    />
    <div class="grid md:grid-cols-3">
      <img
        src="/vores-arbejde-hero.webp"
        alt="Billede af kvinde i the red van"
        class="pb-3xl md:col-start-2 md:col-end-4"
      />
    </div>
    <TextParagraf title="Mere tryghed på gaden" textCols={2}>
      <Text>
        Gadebaserede sexarbejdere arbejder under usikre forhold uden klare
        rettigheder. Lovgivningen, særligt rufferiparagraffen, forhindrer
        sexarbejdere i at organisere sig, og tvinger mange til at alliere sig
        med folk, der er villige til at bryde loven. <br /><br />
        I The Red Van forholder vi os til virkeligheden, som den er og arbejder ud
        fra princippet om skadesreduktion. Det betyder, at vi forsøger at begrænse
        den skade, som gadebaserede sexarbejdere risikerer at blive udsat for.
      </Text>
      <Text>
        Hver weekend stiller vi en rød, ombygget varevogn til rådighed, som
        sexarbejderne kan bruge med deres kunder. <br />
        Det sikrer tryggere, mere hygiejniske og værdige forhold end gaden ellers
        kan tilbyde, og giver sexarbejderne mulighed for at bevare kontrol over situationen.
        Vanen er åben fra klokken 00:00 - 05:00 torsdag, fredag og lørdag nat og monitoreres
        af frivillige.
      </Text>
    </TextParagraf>
    <div class="grid md:grid-cols-6">
      <img
        src="/vores-arbejde-body.webp"
        alt="Billede af frivillig som rengører the red van"
        class="pt-3xl md:col-start-3 md:col-end-6"
      />
    </div>
  </section>

  <section class="bg-blue px-gutter pb-3xl pt-lg md:px-2xl md:pb-4xl">
    <Heading htmlheading="h2" size="xsmall" stylingclasses=" pb-2xl">
      Udover at facilitere vores skadesreducerende <br />gadeindsats laver vi
      også andre vigtige ting som…
    </Heading>
    <div class="grid md:grid-cols-3 md:gap-gutter">
      <Card
        header="Opkvalificering af unge"
        text="Vi tilbyder løbende uddannelsesprogrammer og mentorskab til vores unge frivillige. Vores programmer fokuserer på at udvikle deres færdigheder og viden om sociale problemstillinger, så de kan håndtere komplekse udfordringer effektivt. Vi sikrer, at de får praktisk erfaring og støtte til at bidrage aktivt til vores mission og skabe positive forandringer."
      />
      <Card
        header="Undervisning"
        text="Vi tilbyder oplæg og workshops til uddannelsesinstitutioner, fagpersoner, politikere, tænketanke, højskoler mfl. Vores undervisning handler om skadesreduktion for gadesexarbejdere fra et rettighedsperspektiv. Vi sigter mod at øge forståelsen og engagementet omkring sexarbejderrettigheder og bidrage til bedre viden og handling på området. Book os her."
      />
      <Card
        header="Pushing the political"
        text="Vi er aktive medspillere i at skubbe den politiske dagsorden og deltager i politiske møder og høringer for at påvirke beslutningstagere og fremme lovgivning, der beskytter sexarbejderes rettigheder. Vi opfordrer politikerne til at lytte til eksperterne og skabe en lovgivning, der beskytter sexarbejderes rettigheder og sikkerhed. Sexarbejdere skal have arbejdsretlig beskyttelse og politikerne skal sikre, at lovgivningen baseres på fakta frem for personlige og moralistiske idealer."
      />
      <Card
        header="Aktivisme"
        text="Vi samarbejder med aktivister og er en del af den globale bevægelse for sexarbejderes rettigheder. Vi bidrager med ressourcer og mobiliserer støtte for at forbedre arbejdsvilkår og rettigheder. Vores mål er at skabe konkrete forbedringer og gøre vigtige emner synlige for beslutningstagere og offentligheden."
      />
      <Card
        header="Advocacy"
        text="Hos The Red Van er vi stærke fortalere for sexarbejderes rettigheder. Vi arbejder aktivt for at ændre den offentlige mening og bekæmpe stigmaet omkring sexarbejde. Vores oplysningsarbejde fokuserer på at fremhæve sexarbejderes selvbestemmelse og menneskerettigheder samt behovet for arbejdsretlig beskyttelse. Vi bruger vores platform til at sikre at sexarbejderes perspektiver bliver hørt i den offentlige debat."
      />
      <Card
        header="Samarbejder"
        text="Vi allierer os med NGO’er, politikere og myndigheder for at skabe forandringer for sexarbejdere. Vores samarbejde omfatter aktører indenfor sundhed, jura, migration, stofbrug, voldsforebyggelse og social udsathed. Gennem brede partnerskaber arbejder vi målrettet på at finde løsninger og sikre, at sexarbejderes behov bliver anerkendt og adresseret effektivt. Vi er altid åbne for nye partnerskaber, så send os en mail hvis du gerne vil samarbejde med os!"
      />
    </div>
  </section>
</MainLayout>
