---
import MainLayout from "../layouts/MainLayout.astro";
import HeadingParagraf from "../components/HeadingParagraf.astro";
import TextParagraf from "../components/TextParagraf.astro";
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Vores arbejde">
  <HeadingParagraf
    title="Vores arbejde"
    text="Hos The Red Van er vi stærke fortalere for sexarbejderes rettigheder. Vi arbejder aktivt for at ændre den offentlige mening og bekæmpe stigmaet omkring sexarbejde, imens vi hver uge selv er til stede på gaden."
  />
  <img src="vores-arbejde-hero.webp" alt="Billede af kvinde i the red van" />
  <TextParagraf title="Mere tryghed på gaden" textCols={2}>
    <Text teksttype="brødtekst" stylingclasses="text-dark">
      Gadebaserede sexarbejdere arbejder under usikre forhold uden klare
      rettigheder. Lovgivningen, særligt rufferiparagraffen, forhindrer
      sexarbejdere i at organisere sig, og tvinger mange til at alliere sig med
      folk, der er villige til at bryde loven. <br /><br />
      I The Red Van forholder vi os til virkeligheden, som den er og arbejder ud fra
      princippet om skadesreduktion. Det betyder, at vi forsøger at begrænse den skade,
      som gadebaserede sexarbejdere risikerer at blive udsat for.
    </Text>
    <Text teksttype="brødtekst" stylingclasses="text-dark">
      Hver weekend stiller vi en rød, ombygget varevogn til rådighed, som
      sexarbejderne kan bruge med deres kunder. <br />
      Det sikrer tryggere, mere hygiejniske og værdige forhold end gaden ellers kan
      tilbyde, og giver sexarbejderne mulighed for at bevare kontrol over situationen.
      Vanen er åben fra klokken 00:00 - 05:00 torsdag, fredag og lørdag nat og monitoreres
      af frivillige.
    </Text>
  </TextParagraf>

  <img
    src="vores-arbejde-body.webp"
    alt="Billede af mand som rengører the red van"
  />

  <section class="bg-blue">
    <Heading htmlheading="h2" size="xsmall" stylingclasses="text-dark">
      Udover at facilitere vores skadesreducerende gadeindsats laver vi også
      andre vigtige ting som…
    </Heading>
    <div class="grid md:grid-cols-3">
      <Card
        h3="Opkvalificering af unge"
        text="Vi ser sexarbejde som et legitimt erhverv og støtter sexarbejderbevægelsens kamp for selvbestemmelse og afstigmatisering. Sexarbejderrettigheder er menneskerettigheder!"
      />
      <Card
        h3="Undervisning"
        text="Vi tilbyder gadebaserede sexarbejdere en mere sikker og værdig arbejdsplads, fordi alle har ret til støtte og solidaritet uanset deres profession og livssituation."
      />
      <Card
        h3="Pushing the political"
        text="Vi mener, at sexarbejdere skal beskyttes med rettigheder frem for at blive reddet, fordi vi ved, at mange står uden alternative måder at forsørge sig selv og deres familier på."
      />
      <Card
        h3="Aktivisme"
        text="Vi ser sexarbejde som et legitimt erhverv og støtter sexarbejderbevægelsens kamp for selvbestemmelse og afstigmatisering. Sexarbejderrettigheder er menneskerettigheder!"
      />
      <Card
        h3="Advocacy"
        text="Vi tilbyder gadebaserede sexarbejdere en mere sikker og værdig arbejdsplads, fordi alle har ret til støtte og solidaritet uanset deres profession og livssituation."
      />
      <Card
        h3="Samarbejder"
        text="Vi mener, at sexarbejdere skal beskyttes med rettigheder frem for at blive reddet, fordi vi ved, at mange står uden alternative måder at forsørge sig selv og deres familier på."
      />
    </div>
  </section>
</MainLayout>
