---
const { variant } = Astro.props;

const base = "rounded-4xl px-4 py-2 button cursor-pointer";

const variants = {
  header: "btn-header text-dark font-bold uppercase",
  light: "btn-light text-dark font-bold uppercase",
  dark: "btn-dark text-light font-bold uppercase",
};
---

<button class={`${base} ${variants[variant]}`}>
  <slot />
</button>
