---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<section
  class="bg-bordeaux grid md:grid-cols-3 md:grid-rows-3 px-gutter py-3xl md:px-2xl md:pt-2xl md:pb-0 gap-2xl"
>
  <div class="md:col-start-2 md:col-end-3">
    <Heading
      htmlheading="h2"
      size="small"
      stylingclasses="uppercase text-hf"
      animate={false}
    >
      Organisation
    </Heading>
    <Text teksttype="base" stylingclasses="text-hf underline">
      Vedtægter <br />Regnskaber <br />Privatliv & cookies
    </Text>
  </div>
  <div class="md:col-start-2 md:col-end-3 md:row-start-2 md:row-end-3">
    <Heading
      htmlheading="h2"
      size="small"
      stylingclasses="uppercase text-hf"
      animate={false}
    >
      Sociale medier
    </Heading>
    <Text teksttype="base" stylingclasses="text-hf"
      >Instagram <br />Facebook</Text
    >
  </div>
  <div class="md:col-start-3 md:col-end-4 md:row-start-1 md:row-end-3">
    <Heading
      htmlheading="h2"
      size="small"
      stylingclasses="uppercase text-hf"
      animate={false}
    >
      Kontakt os
    </Heading>
    <Text teksttype="base" stylingclasses="text-hf">
      Vesterbrogade 112B <br />1620 Vesterbro <br />København V
      <br /><br />info@trv.dk
      <br /><br />+45 93919278
    </Text>
  </div>
  <div class="md:col-start-1 md:col-end-2 md:row-start-3 md:row-end-4 w-2/3">
    <img src="/logo-footer.png" alt="The red vans logo" />
  </div>
</section>
