---
import Heading from "./Heading.astro";
const { title, text } = Astro.props;
---

<div class="grid md:grid-cols-3">
  <Heading htmlheading="h1" size="xlarge" stylingclasses="text-dark uppercase"
    >{title}</Heading
  >
  <Heading
    htmlheading="h2"
    size="xsmall"
    stylingclasses="text-dark md:col-start-2 md:col-span-2">{text}</Heading
  >
</div>
