---
const {
  htmlheading = "h2",
  size = "medium",
  font = undefined,
  stylingclasses = "",
  wrapperClasses = "",
  animate = true,
} = Astro.props;

const Htmlheading = htmlheading;

const baseTextColor = "text-dark";
const mergedStylingClasses = `${baseTextColor} ${stylingclasses ?? ""}`;

const sizeClasses = {
  xlarge: "lg:text-6xl text-4xl",
  large2: "lg:text-5xl text-3xl",
  large: "lg:text-4xl text-3xl",
  medium: "lg:text-3xl text-2xl",
  small: "lg:text-2xl text-xl",
  xsmall: "lg:text-2xl text-xl",
  xxsmall: "lg:text-xl text-lg",
};

const defaultFontForSize = {
  xlarge: "font-black",
  large2: "font-regular",
  large: "font-black",
  medium: "font-black",
  small: "font-black",
  xsmall: "font-medium",
  xxsmall: "font-regular",
};

const fontClass = font ?? defaultFontForSize[size];
---

{
  animate ? (
    <div
      x-data="{ show: false }"
      x-intersect.once="show = true"
      class={`overflow-hidden ${wrapperClasses}`}
    >
      <div
        class="transform transition-transform duration-500 ease-out"
        x-bind:class="show ? 'translate-y-0' : 'translate-y-15'"
      >
        <Htmlheading
          class:list={[sizeClasses[size], fontClass, mergedStylingClasses]}
        >
          <slot />
        </Htmlheading>
      </div>
    </div>
  ) : (
    <Htmlheading
      class:list={[sizeClasses[size], fontClass, mergedStylingClasses]}
    >
      <slot />
    </Htmlheading>
  )
}
