---
import Button from "./Button.astro";
---

<header class="bg-nav">
  <nav class="flex items-center justify-between p-4 font-medium text-base">
    <div class="flex justify-between gap-2">
      <!-- Logo -->
      <img src="/logo.png" alt="Billede af The Red Vans logo" class="h-10" />

      <img
        src="logo-text.png"
        alt="The Red Van "
        class="hidden md:block md:w-70 lg:w-110"
      />
    </div>
    <!-- Burger-knap (kun mobil) -->
    <button id="burger" class="md:hidden flex flex-col gap-1.5 cursor-pointer">
      <span class="block h-0.5 w-7 bg-pink"></span>
      <span class="block h-0.5 w-7 bg-pink"></span>
      <span class="block h-0.5 w-7 bg-pink"></span>
    </button>

    <!-- Mobil-menu -->
    <div
      id="mobileMenu"
      class="fixed z-50 hidden flex-col gap-4 px-4 pb-4 md:hidden bg-bordeaux w-full text-hf"
    >
      <a href="#">Om os</a>
      <a href="#">Bliv frivillig</a>
      <a href="#">Viden</a>
      <a href="#">Merch</a>
      <a href="#">For sex workers</a>
    </div>

    <!-- Menu (desktop) -->
    <ul class="hidden md:flex gap-5 text-hf">
      <li>
        <a
          href="#"
          class="transition-colors duration-500 ease-in-out hover:text-tertiary-darkpink"
          >Om os</a
        >
      </li>
      <li>
        <a
          href="#"
          class="transition-colors duration-500 ease-in-out hover:text-tertiary-darkpink"
          >Bliv frivillig</a
        >
      </li>
      <li>
        <a
          href="#"
          class="transition-colors duration-500 ease-in-out hover:text-tertiary-darkpink"
          >Viden</a
        >
      </li>
      <li>
        <a
          href="#"
          class="transition-colors duration-500 ease-in-out hover:text-tertiary-darkpink"
          >Merch</a
        >
      </li>
      <li>
        <a href="#" class="hover:text-tertiary-darkpink">For sex workers</a>
      </li>
      <li><Button variant="header">Støt</Button></li>
    </ul>
  </nav>
</header>

<script>
  const burger = document.getElementById("burger");
  const mobileMenu = document.getElementById("mobileMenu");

  burger?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("hidden");
  });
</script>
