---
const { image = "false", descr, title, text } = Astro.props;
import Button from "./Button.astro";
import Heading from "./Heading.astro";
---

<div class="md:py-gutter grid md:grid-cols-2">
  <div class="md:flex">
    {
      image !== "false" && (
        <img
          src={image}
          alt={descr}
          class="w-100 py-lg pt-2xl md:pt-0 md:pr-gutter"
        />
      )
    }
    <Heading htmlheading="h2" size="small" stylingclasses="pb-sm md:pb-0"
      >{title}</Heading
    >
  </div><div class="md:flex md:justify-between">
    <Heading htmlheading="h3" size="xxsmall" stylingclasses="pb-md md:pr-lg"
      >{text}</Heading
    >
    <div><Button variant="light">Læs</Button></div>
  </div>
</div>
