---
import Heading from "./Heading.astro";

let correctPassword = "theredvan";
---

<div
  id="password-screen"
  class="fixed inset-0 flex items-center justify-center bg-gray-100 z-100"
>
  <div class="bg-white shadow-xl p-8 rounded-xl max-w-100 w-full space-y-4">
    <Heading size="xxsmall" class="text-center">Adgangskode påkrævet</Heading>
    <input
      id="pw-input"
      type="password"
      placeholder="Indtast adgangskode"
      class="w-full border rounded-lg px-3 py-2"
    />

    <button
      id="pw-btn"
      class="w-full bg-orange text-dark py-2 rounded-lg cursor-pointer"
    >
      Gå videre
    </button>

    <p id="pw-error" class="text-red-500 text-sm hidden">Forkert adgangskode</p>
  </div>
</div>

<script>
  const correct = "theredvan";
  const screen = document.querySelector("#password-screen");
  const btn = document.querySelector("#pw-btn");
  const input = document.querySelector("#pw-input");
  const err = document.querySelector("#pw-error");

  // TJEK VED LOAD
  if (localStorage.getItem("access") === "granted") {
    screen.style.display = "none";
    document.body.style.overflow = "";
  } else {
    document.body.style.overflow = "hidden";
  }

  btn.addEventListener("click", () => {
    if (input.value === correct) {
      localStorage.setItem("access", "granted");
      screen.style.display = "none";
      document.body.style.overflow = "";
    } else {
      err.classList.remove("hidden");
    }
  });
</script>
