---
import Text from "./Text.astro";
import Button from "./Button.astro";
---

<form x-data="{ step: 1 }">
  <div
    x-data="{ active: 'fast' }"
    class="relative flex w-80.25 lg:w-96.75 rounded-full btn-light p-2"
  >
    <!-- SLIDER -->
    <div
      class="absolute inset-0 w-1/2 bg-bordeaux transition-transform duration-300"
      :class="active === 'fast'
    ? 'rounded-l-full rounded-r-none translate-x-0'
    : 'rounded-r-full rounded-l-none translate-x-full'"
    >
    </div>

    <!-- STØT FAST -->
    <button
      type="button"
      @click="active = 'fast'"
      class="relative w-1/2 uppercase font-bold text-dark transition-colors"
      :class="active === 'fast' ? 'text-light' : ''"
    >
      Støt fast
    </button>

    <!-- ENKEL DONATION -->
    <button
      type="button"
      @click="active = 'once'"
      class="relative z-10 w-1/2 uppercase font-bold text-dark text-base transition-colors"
      :class="active === 'once' ? 'text-light' : ''"
    >
      Enkel donation
    </button>
  </div>

  <div x-show="step === 1">
    <Text teksttype="formtekst" stylingclasses="text-dark pt-xl pb-md">
      Månedligt beløb
    </Text>

    <div class="flex flex-row gap-7 pb-md">
      <!-- 75 kr -->
      <label class="flex items-center gap-5 cursor-pointer">
        <input
          type="radio"
          name="beløb"
          value="75"
          class="w-7 h-7 rounded-full
      bg-greywhite
      checked:shadow-[inset_0_0_0_30px_#321F26]
      transition
      focus:outline-none
      focus:ring-0 border-0"
        />
        <span
          ><Text
            teksttype="formtekst"
            stylingclasses="text-dark text-[12px] lg:text-base">75 kr.</Text
          ></span
        >
      </label>

      <!-- 100 kr -->
      <label class="flex items-center gap-5 cursor-pointer">
        <input
          type="radio"
          name="beløb"
          value="100"
          class="w-7 h-7 rounded-full
      bg-greywhite
      checked:shadow-[inset_0_0_0_30px_#321F26]
      transition
      focus:outline-none
      focus:ring-0 border-0"
        />
        <span
          ><Text
            teksttype="formtekst"
            stylingclasses="text-dark text-[12px] lg:text-base">100 kr.</Text
          ></span
        >
      </label>

      <!-- 200 kr -->
      <label class="flex items-center gap-5 cursor-pointer">
        <input
          type="radio"
          name="beløb"
          value="200"
          class="w-7 h-7 rounded-full
      bg-greywhite
      checked:shadow-[inset_0_0_0_30px_#321F26]
      transition
      focus:outline-none
      focus:ring-0 border-0"
        />
        <span
          ><Text
            teksttype="formtekst"
            stylingclasses="text-dark text-[12px] lg:text-base">200 kr.</Text
          >
        </span>
      </label>
    </div>

    <!-- INDTAST SELV BELØB -->
    <div class="flex flex-col w-80.25 lg:w-96.75 pb-xl">
      <label for="selvvalgt"
        ><Text teksttype="formtekst" stylingclasses="text-dark text-base pb-xs"
          >Vælg selv et beløb:</Text
        ></label
      >
      <input
        type="text"
        id="selvvalgt"
        name="selvvalgt"
        class="rounded-xs border-0"
      />
    </div>

    <!-- NÆSTE TRIN KNAP -->
    <div class="flex justify-end">
      <Button @click="step = step + 1" variant="light" type="button"
        >Næste trin</Button
      >
    </div>
  </div>

  <div x-show="step === 2">
    <Text teksttype="formtekst" stylingclasses="text-dark pt-xl pb-md">
      Betalingsmetode
    </Text>

    <div class="flex flex-row gap-21 pb-md">
      <!-- MobilePay -->
      <label class="flex items-center gap-5 cursor-pointer">
        <input
          type="radio"
          name="betalingsmetode"
          value="mobilepay"
          class="w-7 h-7 rounded-full
      bg-greywhite
      checked:shadow-[inset_0_0_0_30px_#321F26]
      transition
      focus:outline-none
      focus:ring-0 border-0"
        />
        <span
          ><Text teksttype="formtekst" stylingclasses="text-dark"
            >MobilePay</Text
          ></span
        >
      </label>

      <!-- Dankort -->
      <label class="flex items-center gap-5 cursor-pointer">
        <input
          type="radio"
          name="betalingsmetode"
          value="kort"
          class="w-7 h-7 rounded-full
      bg-greywhite
      checked:shadow-[inset_0_0_0_30px_#321F26]
      transition
      focus:outline-none
      focus:ring-0 border-0"
        />
        <span
          ><Text teksttype="formtekst" stylingclasses="text-dark">Kort</Text>
        </span>
      </label>
    </div>

    <!-- Fulde navn -->
    <div class="flex flex-col w-80.25 lg:w-96.75 pb-xl">
      <label for="selvvalgt"
        ><Text teksttype="formtekst" stylingclasses="text-dark text-base pb-xs"
          >Fulde navn</Text
        ></label
      >
      <input type="text" id="navn" name="navn" class="rounded-xs border-0" />
    </div>

    <div class="flex flex-row gap-5">
      <!-- e-mail -->
      <div class="flex flex-col w-41.25 lg:w-46 pb-xl">
        <label for="email"
          ><Text
            teksttype="formtekst"
            stylingclasses="text-dark text-base pb-xs">E-mail</Text
          ></label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="rounded-xs border-0"
        />
      </div>

      <!-- mobilnummer -->
      <div class="flex flex-col w-41.25 lg:w-46">
        <label for="mobilnummer"
          ><Text
            teksttype="formtekst"
            stylingclasses="text-dark text-base pb-xs">Mobilnummer</Text
          ></label
        >
        <input type="tel" id="tel" name="tel" class="rounded-xs border-0" />
      </div>
    </div>

    <!-- checkbox -->
    <div class="flex flex-row gap-4 pb-xl">
      <input
        type="checkbox"
        id="handelsbetingelser"
        name="handelsbetingelser"
        class="appearance-none
         w-6.75 h-6.75
         bg-tertiary-darkpink
         checked:bg-dark border-0 focus:outline-none
      focus:ring-0"
      />
      <label for="handelsbetingelser"
        ><Text>Accepter handelsbetingelser</Text></label
      >
    </div>

    <!-- KNAPPER -->
    <div class="flex justify-end gap-md">
      <Button type="button" @click="step = 1" variant="light">Tilbage</Button>
      <Button variant="dark">Støt os</Button>
    </div>
  </div>
</form>
