---
const { title, textCols = 1 } = Astro.props;
import Heading from "./Heading.astro";
---

<div class="grid md:grid-cols-3 gap-6">
  <div
    x-data="{ show: false }"
    x-intersect.once="show = true"
    class="overflow-hidden max-h-fit"
  >
    <!-- MASK -->
    <div
      class="transform transition-transform duration-500 easey-ease"
      :class="show ? 'translate-y-0' : 'translate-y-full'"
    >
      <Heading
        htmlheading="h2"
        size="medium"
        stylingclasses="uppercase md:col-span-1">{title}</Heading
      >
    </div>
  </div>

  <div
    class={textCols === 2
      ? "md:col-span-2 grid md:grid-cols-2 gap-4"
      : "md:col-span-2"}
  >
    <slot />
  </div>
</div>
