---
const { teksttype = "base", stylingclasses = "" } = Astro.props;

const sizeClasses = {
  base: "text-base font-regular",
  basemedium: "text-base font-medium",
  knaptekst: "text-base font-medium uppercase",
  formtekst: "text-xl font-medium",
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}>
  <slot />
</p>
