---
const { teksttype = "base", stylingclasses = "" } = Astro.props;

const sizeClasses = {
  base: "text-base font-regular",
  basemedium: "text-base font-medium",
  knaptekst: "text-base font-medium uppercase",
};

const baseTextColor = "text-dark";

const mergedStylingClasses = `${baseTextColor} ${stylingclasses ?? ""}`;
---

<p class:list={[sizeClasses[teksttype], mergedStylingClasses]}>
  <slot />
</p>
